* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.reviews {
  margin: 10px 0px;
  background-color: #edf2f4;
  padding: 16px;
  border-radius: 10px;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users {
  display: flex;
  align-items: center;
  gap: 8px;
}

.users h3 {
  font-weight: 600;
}

.btn-section {
  margin-top: 8px;
  margin-left: -4px;
}

.reviews-container span {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.reviews-container textarea {
  margin: 20px 0px;
  padding: 10px;
}

.starsContainer {
  display: flex;
  justify-content: space-around;
}

.star {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.star.yellow {
  color: yellow;
}

.update-review {
  gap: 12px;
}

.deleteReviewModal {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  width: 400px;
}