* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  display: block;
}

.star {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: gray;
}

.star.yellow {
  color: blue;
}