.user-products-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}

.header {
  text-align: center;
}

.header a {
  display: inline-block;
  margin: 8px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
}

.product-info {
  margin: 20px 0px;
}

.product-tile {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.product-tile img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-actions {
  padding-left: 5px;
}

.deleteProductModal {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  width: 400px;
}