.product-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edf2f4;
    gap: 50px;
    margin: 20px 0px;
    padding-bottom: 25px;
}

.product-details img {
    width: 400px;
    height: 600px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description h3 {
    font-size: 34px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    word-break: break-all;
}

.p-details:nth-child(1) {
    border-bottom: 1px solid #000000;
    padding-bottom: 4px;
}

.p-details p {
    width: 270px;
    margin: 7px 0px;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 18px;
}

.product-reviews {
    display: flex;
    gap: 50px;
    margin: 15px 0;
}