.product-details {
    margin: 20px 0px;
}

.product-reviews {
    margin: 15px 0px 10px 0px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px;
    height: 140px;
    background-color: #edf2f4;
    padding: 10px;
    border-radius: 10px;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}