.product-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #edf2f4;
    gap: 30px;
    margin: 20px 0px;
    padding-bottom: 25px;
}

.product-details img {
    width: 400px;
    height: 550px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description h3 {
    font-size: 25px;
    margin-bottom: 5px;
}

.p-details p {
    width: 250px;
    margin: 7px 0px;
}

.product-reviews {
    margin: 15px 0px 10px 0px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px;
    height: 140px;
    background-color: #edf2f4;
    padding: 10px;
    border-radius: 10px;
}

.user-reviews {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
}