#shoppingCart>h2 {
    margin: 20px 0px;
    margin-left: 85px;
}

.cart {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 10px 0px;
}

.img {
    display: flex;
}

.img img {
    height: 260px;
    width: 150px;
}

.img h2 {
    margin: 0px 20px;
}

.itemDetails {
    display: flex;
    gap: 25px;
    text-align: end;
}

.shoppingCartBag {
    height: calc(100vh - 80px - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart {
    display: flex;
    justify-content: space-around;
    width: 1400px;
}

.itemQuantity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.totalPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.orderSummary {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
}