.edit-form-container {
  height: calc(100vh - 80px - 180px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.edit-form {
  border-radius: 10px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  margin-bottom: 5px;
}

.data-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 5rem;
  resize: none;
}

.required-message {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
}

.button-group {
  display: flex;
  margin-top: 20px;
}